
.left {
         height: 100%;
         width:  auto;

         float: left;

         overflow: hidden;
       }

.center {
            height: 100%;
            width:  auto;

            margin-left:  auto;
            margin-right: auto;

            overflow: hidden;
        }

.right {
          height: 100%;
          width:  auto;

          float: right;

          overflow: hidden;
       }
