/* ===================== left of screen ===================== */
#side_bar_iframe {
                    border: 0;

                    height: 100vh;
                    width:  auto;
                 }





/* ===================== Center of screen ===================== */
#top {
        border-bottom: 2px solid grey;
     }

h1 {
      font-weight: normal;
   }

pre {
      font-size:   16px;
      font-family: calibri;

      word-spacing: 5px;
    }

a {
    text-decoration: none;
  }
