.top {
       width:  100%;
       height: auto;
     }

.left {
        float: left;

        width:  auto;
        height: 100vh;
      }

.right {
         float: right;

         width:  auto;
         height: 100vh;
       }
