#sidebar {
           width:  200px;
           height: 800px;

           padding-right: -100px;

           border:       0;
           border-right: 2px solid grey;
           border-radius: 15px;

           overflow: scroll;
        }


/* ################################# Help section ########################### */
#help_section {
                width: 1080px;
              }

.top {
       border-bottom: 1px solid grey;
     }

#topbar {
          border: 0;

          margin-left: 750px;
          margin-bottom: -70px;
          margin-top: -80px;
        } 

#left_help {
             margin-left: 25px;
           }

#right_help {
              margin-right: 30px;
            }

h1 {
     font-weight: normal;
   }

h2 {
     border-bottom: 1px solid grey;

     width: 365px;
   }

pre {
      font-family: calibri;
      font-size:   17px;
    }

a {
    color: blue;

    text-decoration: none;
  }
