/* Top of sidebar */

#top {
      margin-bottom: 50px;
    }

img {
      width:  auto;
      height: 70px;

      margin-left: -5px;
    }

p {
      font-family: calibri;
      font-size:   18px;

      margin-top:  -5px;
  }


/* Navigation for sidebar */
h4 {
      font-family: calibri;
      font-weight: normal;

      text-align: center;

      border-bottom: 1px solid grey;

      margin-bottom: 5px;
   }

a {
      color: blue;

      font-family:     calibri;
      text-decoration: none;

      margin-left: 20px;
  }

pre {
      font-family: calibri;
    }

#page_nav {
            margin-right: 30px;
          }

#article_nav {
                margin-right: 40px;
             }
