{% extends 'base_layout.html' %}

{% block title %} <title>ConWiki: Create</title> {% endblock %}
{% block style_n_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/article_handler.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
{% endblock %}


{% block main %}
    <div class="row">
      <iframe
              src="{{ iframe_src.topbar }}" width="100%" height="80px" scrolling="no"
              style="border: none; border-bottom: 1px grey solid; margin-left: 30px;">
      </iframe>

      <h1 id="page-title"> ConWiki: Create </h1>
    </div>

    <div class="row" id='create-div'>
        <div class="col-7 col-sm-7 col-md-7">
            <div class="row">
                <textarea id="title" rows="1" cols="92"></textarea>
            </div>

            <div class="row">
                <textarea id="main" rows="21" cols="105"></textarea>
            </div>
        </div>

        <div class="col-5, col-sm-5 col-md-5">
            <textarea id="side_text" rows="21" cols="50"></textarea>
            <button id="save" onclick="save_article()"> Save </button>
            <button id="view"> View </button>
        </div>
    </div>
{% endblock %}
