<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}{% endblock %}

    <link rel="stylesheet" href="{{url_for('static', filename='css/default_layout.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
    {% block styles %}{% endblock %}

  </head>

  <body>
    <div class='left'>
      <div id="sidebar_logo">
        <!-- #################### Top of side bar ####################-->
        <div id="top">
          <img class='sidebar_img' src="{{url_for('static', filename='img/conwiki/logo.png')}}">
          <p class='sidebar_p'> A world builder's friend </p>
        </div>

        <!-- #################### ConWiki page navigation ####################-->
        <div id="page_nav">
          <h4 class='sidebar_h4'> ConWiki Navigation </h4>
          <a class='sidebar_a' href="homepage.html" target="_parent"> Home </a>
          </br>
          <a class='sidebar_a' href="help.html" target="_parent"> Help </a>
          </br>
          <a class='sidebar_a' href="about.html" target="_parent"> About </a>

        </div>

        <!-- #################### Article navigation ####################-->
        <div id="article_nav">
          <h4 class='sidebar_h4'> Article Navigation </h4>
          <pre class='sidebar_pre'>
  Start creating some articles!
          </pre>
        </div>
      </div>
    </div>

    <div class='right'>
      {% block main %}{% endblock %}
    </div>
  </body>
</html>
