<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    </head>

    <body>
        <div class="row" id="top">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="ConWiki logo"
                 style="width: 90%; height: 100%;">
            <p> A world builder's friend </p>
        </div>

        <div class="row" id="page_nav">
            <h4> Navigation </h4>

            <a href="http://127.0.0.1:5000/homepage" target="_parent"> Home </a>
            </br>
            <a href="http://127.0.0.1:5000/help" target="_parent"> Help </a>
            </br>
            <a href="http://127.0.0.1:5000/about" target="_parent"> About </a>
        </div>

        <div class="row" id="article_nav">
            <h4> Articles </h4>
            <p> Create some articles! </p> <!-- NOTE: add jinja to allow articles to be passed through -->
        </div>
    </body>
</html>
