<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./static/css/topbar.css">
    </head>

    <body>
        <div class="row">
            <input type="text" placeholder="Search...">
            <img src="./static/images/search_btn_hover.png" id="search_btn"
                 onmouseover="this.src='./static/images/search_btn_unhover.png'"
                 onmouseout="this.src='./static/images/search_btn_hover.png'">
        </div>

        <div class="row" id="button-nav">
            <a href="http://127.0.0.1:5000/create"><button> Create </button></a>
            <a href="http://127.0.0.1:5000/edit"><button> Edit </button></a>
        </div>
    </body>
</html>
