{% extends "sidebar.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/topbar.css')}}">
    {% block page_styles %}{% endblock %}
{% endblock %}

{% block main %}
  <div id="topbar_div">
    {% block page_title %}{% endblock %}

    <div id="topbar_nav">
      <input class="topbar_input" type="text" placeholder="Search..." id="search_bar">
      <img class="topbar_img" src="{{url_for('static', filename='img/conwiki/search_btn_unhover.png')}}" id="search_btn"
      onmouseover=this.src="{{url_for('static', filename='img/conwiki/search_btn_hover.png')}}"
      onmouseout=this.src="{{url_for('static', filename='img/conwiki/search_btn_unhover.png')}}">

      <button class="topbar_button" type="button" id="edit_btn">Edit</button>
      <a class="topbar_a" href="create.html" target="_parent"><button class="topbar_button" type="button" id="create_btn">Create</button></a>
    </div>
  </div>

  {% block page_main %}{% endblock %}
{% endblock %}
