textarea {
             resize: none;
         }

button {
          width: 35%;

          margin-right : 2vh;
          margin-top   : 1%;

          border       : 1px solid rgb(0, 139, 209);
          border-radius: 4px;

          background-color: rgb(0, 139, 209);

          color: white;
       }

button:hover {
                 border: 1px solid rgb(0, 151, 227);

                 background-color: rgb(0, 151, 227);
             }

#page-title {
           margin-left: 50px;
           margin-top : -5.5%;

           font-family: calibri;
       }

#create-div {
                margin-left: 40px;
                margin-top : 20px;
            }

#title {
           margin-bottom: 10px;
       }

#save {
          margin-left: 5%;
      }
