h2 {
       margin-bottom: 15px;

       border-bottom: 1px solid grey;

       font-family: calibri;
   }

p {
      margin-bottom: 30px;

      font-family: calibri;
  }

#title {
           margin-left: 50px;
           margin-top : -5.5%;

           font-family: calibri;
       }

#left-info {
              margin-left : -20%;
              margin-right: 4%;
              margin-top  : 20px;
           }

#right-info {
                margin-top: 20px;
            }
