input {
          width: 20%;

          margin-left: 70%;
      }

img {
        width: 4.5%;

        margin-left: -5px;
        margin-bottom: -6px;
    }

button {
            width: 30%;

            margin-left: 7%;

            border       : 1px solid rgb(0, 139, 209);
            border-radius: 4px;

            background-color: rgb(0, 139, 209);

            color: white;
       }

button:hover {
                  border: 1px solid rgb(0, 151, 227);

                  background-color: rgb(0, 151, 227);
             }

#button-nav {
                margin-left: 70%;
                margin-top:  8px;
            }
